<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All documents</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>phpstorm</string>
	<key>CFBundleGetInfoString</key>
	<string>PhpStorm 8.0.2, build PS-139.732. Copyright JetBrains s.r.o., (c) 2000-2014</string>
	<key>CFBundleHelpBookFolder</key>
	<string>PS.help</string>
	<key>CFBundleHelpBookName</key>
	<string>JetBrains.PS.help</string>
	<key>CFBundleIconFile</key>
	<string>webide.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.jetbrains.PhpStorm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PhpStorm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Stacktrace</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>idea</string>
				<string>phpstorm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>PS-139.732</string>
	<key>JVMOptions</key>
	<dict>
		<key>ClassPath</key>
		<string>$APP_PACKAGE/Contents/lib/bootstrap.jar:$APP_PACKAGE/Contents/lib/extensions.jar:$APP_PACKAGE/Contents/lib/util.jar:$APP_PACKAGE/Contents/lib/jdom.jar:$APP_PACKAGE/Contents/lib/log4j.jar:$APP_PACKAGE/Contents/lib/trove4j.jar:$APP_PACKAGE/Contents/lib/jna.jar</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>com.intellij.idea.Main</string>
		<key>Properties</key>
		<dict>
			<key>idea.home.path</key>
			<string>$APP_PACKAGE/Contents</string>
			<key>idea.java.redist</key>
			<string>NoJavaDistribution</string>
			<key>idea.paths.selector</key>
			<string>WebIde80</string>
			<key>idea.platform.prefix</key>
			<string>PhpStorm</string>
		</dict>
		<key>VMOptions</key>
		<string>-Dfile.encoding=UTF-8 -ea -Dsun.io.useCanonCaches=false -Djava.net.preferIPv4Stack=true -Djsse.enableSNIExtension=false -XX:+UseConcMarkSweepGC -XX:SoftRefLRUPolicyMSPerMB=50 -Xverify:none -Xbootclasspath/a:../lib/boot.jar</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/bin</string>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSRequiresNativeExecution</key>
	<string>YES</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
